/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.btn {
  @apply py-2 px-4 text-gray-900 font-bold bg-gray-400 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 rounded-lg shadow-md;
}

.btn-small {
  @apply py-1 px-2 text-gray-900 bg-gray-400 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 rounded-lg shadow-md;
}
